.headerHolder {
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  height: 90px;
  background-color: black;
  position: fixed;
  z-index: 1;
}

.headerLogo {
  padding-left: 15px;
  cursor: pointer;
}

.headerLinks {
  display: flex;
  width: 100%;
  justify-content: center;
}

.link {
  margin-right: 40px;
}

.headerAccount {
  height: 90px;
  background-color: #ff0230;
  width: 300px;
}

.logout {
  width: 80px;
  margin-right: 15px;
}

.logoutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoutLabel {
  color: white;
}

.logoutIcon {
  color: white;
}
