.merchantCredentialsCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.merchantCredentialsContainer {
  display: flex;
}

.merchantCredentialsHeader {
  display: flex;
  justify-content: center;
}

.merchantUserIdUpdateInputContainer {
  width: 100%;
  padding-top: 25px;
}

.merchantUserIdAddInputContainer {
  width: 100%;
  padding-bottom: 25px;
}

.merchantSaveOrGenerate {
  display: flex;
  justify-content: center;
}
