.tableDetails {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.tableSearch {
  padding-bottom: 10px;
}

.tableHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.tableNavbar {
  color: black;
  font-weight: 500;
}

.tableHeaderWrapper {
  display: flex;
}

.tableTitle {
  display: flex;
  align-items: center;
}

.tablePageing {
  display: flex;
  justify-content: flex-end;
}

.tableNoContent {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c7c1c1;
  height: 500px;
}

.tableStatus {
  &-Inactive {
    color: #fa8f43;
  }

  &-Active {
    color: #4ca66a;
  }

  &-Deactivated {
    color: purple;
  }

  &-Suspended {
    color: red;
  }
}
