.tableDetails {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.tableSearch {
  padding-bottom: 10px;
}

.tableHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.tableHeaderWrapper {
  display: flex;
}

.tableTitle {
  display: flex;
  align-items: center;
}

.tablePageing {
  display: flex;
  justify-content: flex-end;
}
