.pointOfSalesContainer {
  margin-top: 80px;
}

.pointOfSalesTable {
  display: flex;
  justify-content: center;
}

.pointOfSalesTitle {
  display: flex;
  justify-content: center;
}

// .merchantFormHeader {
//   display: flex;
//   justify-content: center;
//   margin: 0;
// }

// .merchantsHeader {
//     display: flex;
//     flex-direction: row;
//   }

// .saveMerchant {
//   display: flex;
//   justify-content: center;
//   padding-top: 10px;
// }
