.addTerminalFormTitle {
  margin: 0;
}

.addTerminalFormHeader {
  padding-left: 25%;
  padding-right: 25%;
  display: flex;
  align-items: center;
}

.addTerminalFormIconWrapper {
  color: royalblue;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 20%;
}
