.groupsTable {
  display: flex;
  justify-content: center;
}

.groupsTitle {
  display: flex;
  justify-content: center;
}

.groupsTableDetails {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.groupTableSearch {
  padding-bottom: 10px;
}

.groupTableHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.groupTableHeaderWrapper {
  display: flex;
}
