.terminalDetailsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.terminalDetailsTitle {
  margin-bottom: 10px;
}

.terminalDetailsUserId {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.terminalDetailsCardContent {
  display: flex;
  justify-content: space-between;
}

.terminalDetailsData {
  font-size: 20px;
}
