.terminalDetailsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.detailsNavbar {
  color: black;
  font-weight: 500;
}

.terminalDetailsTitle {
  margin-bottom: 10px;
}

.terminalDetailsCards {
  display: flex;
  justify-content: center;
}
