.terminalDetailsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.terminalDetailsTitle {
  margin-bottom: 10px;
}

.terminalDetailsCards {
  display: flex;
  justify-content: center;
}
