.transactionsGlobalContainer {
  display: flex;
  justify-content: center;
  height: 100%;
}

.transactionsGlobalTable {
  width: 60%;
}

.transactionsGlobalDropdown {
  margin-top: 10px;
}

.transactionsGlobalForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-top: 10px;
}

.transactionsGlobalButtons {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.dateLabel {
  display: flex;
  align-items: center;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: bold;
  margin-top: 10px;
}

.transactionsGlobalDate {
  margin-top: 10px !important;
}
