.terminalDetailsUserId {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.terminalDetailsCardContent {
  display: flex;
  justify-content: space-between;
}

.terminalDetailsData {
  font-size: 20px;
}

.terminalRegenerate {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
